<div class="container-fluid bg-primary text-light p-1" id="sidebar">

    <ul *ngIf="cartItems.length" class="list-group">
        <li *ngFor="let item of cartItems"
            class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
            <app-cart-item [cartItem]="item"></app-cart-item>
        </li>
        <li class="list-group-item list-group-item-dark d-flex justify-content-evenly align-items-center">
            <h2>Total</h2>
            <h4>{{cartTotal | currency:'EUR'}}</h4>

        </li>
    </ul>
    <ul *ngIf="!cartItems.length" class="list-group">
        <li class="list-group-item list-group-item-dark d-flex justify-content-center align-items-center">
            <h6>Cart is empty</h6>
        </li>

    </ul>
</div>