<div class="m-2 card bg-dark shadow" style="width: 18rem;" data-id="{{productItem._id}}">
    <img src="{{serverUrlImagesPath}}{{productItem.image}}" class="card-img-top" alt="{{productItem.title}}">
    <div class="card-body">
        <h5 class="card-title">{{productItem.title}}</h5>
        <p class="card-text">{{productItem.price| currency:'EUR'}}</p>
        <button (click)="handleAddToCart()" type="button" class="btn btn-primary product-btn">
            Comprar
        </button>
    </div>
</div>