<div class="container">

    <div class="row my-2">
        <div class="col">
            <div class="card bg-dark shadow" style="width: 18rem;">
                <img src="../../../../assets/img/tea-black.png" class="card-img-top" alt="tea-aroma">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Buy</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark shadow" style="width: 18rem;">
                <img src="../../../../assets/img/tea-green.png" class="card-img-top" alt="tea-aroma">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Buy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <div class="card bg-dark shadow" style="width: 18rem;">
                <img src="../../../../assets/img/tea-red.png" class="card-img-top" alt="tea-aroma">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Buy</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark shadow" style="width: 18rem;">
                <img src="../../../../assets/img/tea-aroma.png" class="card-img-top" alt="tea-aroma">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Buy</a>
                </div>
            </div>
        </div>

    </div>
</div>