/* GLOBAL */
:root{

  --primary-color: #ede6de;
  --secondary-color: #806649;
  --thirdy-color: #807249;

  --rem-p: 1rem;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}

/* STRUCTURE */
.page{
    overflow: hidden;
    background-color: var(--primary-color);
    
    height: 100%;
    width: 100%;
    display: grid; 

    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"; 
}

.page__header {
    grid-area: header;
    background-color: var(--secondary-color);
    display: flex;

    height: 10vh;

    box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);

    z-index: 1;
}
.page__main { 
    grid-area: main; 
    display: flex;
}

.page__footer {
    grid-area: footer; 
    background-color: var(--secondary-color);

    height: 10vh;
    width: 100%;
    display: flex;

    margin-top: 2rem;

    box-shadow: -2px -2px 5px rgb(0 0 0 / 50%);
}


/* HEADER */
.header__menu{
    flex: 4;
   
}
.menu__list{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.menu__link{
    color: var(--primary-color);
    font-size: 2rem;
}

.header__logo{
    display: flex;
    justify-content: flex-end;
    
    height: 80%;
    flex: 1;

    align-self: center;
}
.logo__image{
    height: 100%;
    width: auto;
    align-self: center;
    border-radius: 50%;
    vertical-align: middle;
}

.header__cart{
    display: flex;
    justify-content: flex-start;

    height: 80%;
    flex: 1;

    align-self: center;
}
.shopping-cart__icon{
    border: 0;
    border-radius: 50%;

    padding: 2%;

    background-color: var(--primary-color);
}

.cart__image{
    height: 100%;
    width: auto;

}
/* end HEADER */

/* MAIN */

.main__section{
    flex: 3;

}
.section__container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 80%;
    margin: 0 auto;
}
.section__item{
    margin: 3rem 1rem;

    width: 300px;
    height: 300px;
}
.item__cotainer{
    align-items:center;
    text-align: center;
    
    width: 100%;
    height: 100%;
    padding: 2rem;
}
.item__image{
    border-radius: 20px;
}

.item__title{
    font-size: 1.5rem;
}

.item__details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.item__price{
    font-size: 1.2rem;
}
.item__button{
    border-radius: 20px;
    padding: 1%;
}


/* ASIDE */
.main__aside{
    flex: 1;
    background-color: var(--thirdy-color);
    border-radius: 20px 0 0 20px ;

    margin-top: 2rem;

    box-shadow: -2px -2px 5px rgb(0 0 0 / 50%);

    transform: translateX(101%);
    transition: transform 1s ease;
}
.main__aside.active{
    transform: translateX(0);
}

.aside__container{

    padding: 1%;

    display: flex;
    flex-direction: column;
}
.shopping__row{
    display: flex;
}
.shopping__item{
    flex: 5;
    margin: .1rem 0;

    display: flex;
    flex-direction: column;

    background-color: var(--primary-color);
    border-radius: 20px
}

.shopping-item__image{
    border-radius: 20px;
    width: 20%;
}

.shopping-item__title{
    font-size: 1.5rem;
    text-align: center;
}

.shopping-item__details{
    display: flex;
    justify-content: space-evenly;
    align-items: center
}
.shopping-item__price{
    font-size: 1.2rem;
}
.shopping-item__button{
    border-radius: 20px;
    padding: 1%;
}

.shopping__counter{
    flex: 1;
    align-self: center;
    display: flex;
    justify-content: space-around;
}
.counter{
    height: 100%;
    font-size: 2rem;
    color: var(--primary-color);

    text-align: center;
}
.item__quantity{
    width: 100%;
    max-width: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: var(--primary-color);
    outline: none;

    font-size: 3.5rem;
}

/* ASIDE TOTAL */
.shopping-cart__total{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;

    align-items: center;
}
.shopping-cart__total > *{
    color: var(--primary-color);

    font-size: 1.5rem;
}
.shopping-cart__buy{
    color: var(--seconadry-color);
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 2%;

    border:0
}



/* end ASIDE */

/* end MAIN */

/* FOOTER */

/* end FOOTER */
